 
*{
    margin: 0;
    padding:0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    background-color:#222831;
    color:#f7f6e7;    
    padding: 1.5em;
}


h1{
    font-size: 100px;
    font-family: 'Sacramento', cursive;
    color:#ff577f;
    margin: 30px 0px 30px 10px;

}

h2{
    margin: 30px 0px 30px 0px ;
}

p{
    width: 45em;
    margin-bottom: 1em;
}

ul{
 list-style: none;
 margin-top:3em;
 
}

a{
    color:#ff577f;
    text-decoration: none;
}